body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin:auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #2C3E50;
    font-size: 36px;
    margin-bottom: 5px;
}

h2 {
    color: #444;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 5px solid #3498db;
    padding-left: 15px;
}

h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 30px 0
}